body {
  text-align: center; }

#pending {
  width: 50%; }

#edit {
  width: 50px; }

.task-list {
  width: 250px;
  float: left;
  margin: 0 5px;
  background-color: #e3e3e3;
  min-height: 240px;
  border-radius: 10px;
  padding-bottom: 15px; }

.task-list input, .task-list textarea {
  width: 240px;
  margin: 1px 5px; }

.task-list input {
  height: 30px; }

.hidden {
  display: none; }

.todo-task {
  border-radius: 5px;
  background-color: #fff;
  width: 98%;
  margin: 5px;
  padding: 5px; }

#editInput {
  width: 98%; }

.strike {
  text-decoration: line-through; }

.task-list input[type="button"] {
  width: 100px;
  margin: 5px; }

li {
  list-style-type: none; }

h3 {
  text-align: center; }

h6 {
  text-align: center; }
